* {
    font-family: 'Quicksand', sans-serif;
}

/* ========================  HEADER  ========================= */

.header__menu {
    background: #303030;
    text-align: right;
    width: 100%;
    padding: 3px 60px 3px 0px;
    overflow: hidden;
}

.header__item--link {
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
    font-family: 'Quicksand', sans-serif;
}

.header__item--link:hover {
    color: #f26d3f;
    text-decoration: none;
    transition: all 0.5s;
}

.header__item {
    margin-left: 1rem;
}

.header__item-icon {
    margin-right: 3px;
}

.header .nav>li a {
    padding: 1rem 1rem 0px 1rem !important;
    height: 100%;
    font-weight: 600;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2rem;
    color: #000 !important;
    position: relative;
}

/* =============== NAVBAR ==================== */

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown-item:hover {
    background-color: #f26d3f;
    transition: all 0.3s;
}

.nav .dropdown .dropdown-item:hover>a,
.nav .dropdown .dropdown-item:hover>.dropdown-icon {
    color: white !important;
    text-decoration: none;
    transition: all 0.3s;
}

.nav .dropdown .dropdown-item:hover>.dropdown-icon {
    transform: rotate(180deg);
}

.dropdown-menu {
    margin-top: 0 !important;
    box-shadow: 8px 6px 23px -6px rgb(190 149 134 / 65%) !important;
    padding: 0 !important;
}

.header>.dropdown-menu>li {
    display: table-cell;
    height: 100%;
    line-height: 50px;
    vertical-align: middle;
}

.dropdown-menu .dropdown-menu {
    left: 100%;
    top: 0;
}

.dropdown-menu li:not(:last-child) {
    border-bottom: 1px solid rgba(51, 51, 51, 0.26);
}

.header .nav .line {
    border-right: #e3e2e2 2px solid;
    height: 1.5rem;
    margin-top: auto;
    margin-bottom: 0.3rem;
}

.header .nav .nav-item:hover>a {
    color: #f26d3f !important;
}

.header .nav li {
    height: 100%;
    margin-top: auto;
}

.hot-news-cont {
    background-color: #f26d3f;
    display: block;
    width: 100%;
    padding: 0.5rem 3%;
}

.cont-item>a {
    color: white;
    text-decoration: none;
    transition: all 0.3s;
}

.cont-item>a:hover {
    font-weight: bold;
}

/* ============================ */

.btn-profile {
    border: 2px solid #11c73b;
}

.btn-profile--img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.nav-item--cart .cart-icon {
    font-size: 1.5rem;
}

.nav-item--cart .cart-number {
    position: absolute;
    right: -30%;
    top: -30%;
    width: 1rem;
    height: 1rem;
    font: 0.8em sans-serif;
    line-height: 1rem;
}

.search-box {
    width: 100%;
    position: relative;
}

.search-box__input {
    padding: 0.6rem 2.2rem 0.6rem 1rem;
    width: 100% !important;
    border: 1px solid #E8E8E8;
    border-radius: 20px;
    outline: none;
    transition: 0.4s;
}

.search-box__btn {
    position: absolute;
    height: 100%;
    top: 0;
    right: 1rem;
    font-size: 1.3rem;
    font-weight: 600;
    background: transparent;
    border: none;
    color: rgb(75, 75, 75);
    border-radius: 20px;
}

.search-box__btn:hover {
    background: rgb(219, 218, 218);
    transition: 0.5s;
}

.search-box__btn:focus {
    outline: none;
}

/* ========================  NEWFEED  ========================= */

#newfeed {
    margin-top: 3.5rem;
}

.newfeed__item {
    width: 100%;
    padding: 1.5rem;
    background: var(--white);
    margin-bottom: 0.5rem;
    border-radius: 10px;
    box-shadow: 0 0 9px 1px #6e6a6a8c;
}

.newfeed__item--media {
    margin: 0 -1.5rem;
}

.newfeed--avatar--img {
    width: 2.8rem;
    height: 2.8rem;
    border: 2px solid #11c73b;
    border-radius: 50%;
}

#newfeed__post--input-text {
    flex: 1;
    resize: both;
    padding-right: 3%;
    margin-left: 1.2rem;
    border: none;
    outline: none;
}

.textarea {
    display: block;
    overflow: hidden;
    height: auto;
    min-height: 40px;
    line-height: 20px;
    border: 1px solid #ccc;
}

.newfeed__post #img-input {
    display: block;
    margin: 0 auto;
    max-height: 9rem;
}

.newfeed__post--attachment-item a {
    color: #8fa0a3;
    font-size: 1.8rem;
    margin-right: 1.5rem;
}

.newfeed__item li {
    list-style: none;
}

.newfeed__post--attachment-item #input-img {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
}

textarea {
    border: ridge 2px;
    padding: 5px;
    width: 20em;
    min-height: 5em;
    overflow: auto;
}

#img-preview {
    display: block;
    margin: 0 auto;
    max-height: 9rem;
}

/* ================= NEWS  ============================== */

.newfeed__item--interactives {
    display: flex;
}

.interactives__item {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.interactives__item--icon {
    margin-right: 0.5rem;
    font-size: 1.5rem;
}

.newfeed__item--caption {
    word-break: break-all;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.newfeed__item .info--separator {
    margin: 0 0.5rem;
}

/* =================== profile ====================================== */

.avatar-box {
    border: 2px solid #11c73b;
    width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: block;
}

/* ==============================REgister ===================== */

.select-address-box>span {
    display: block;
    width: 100% !important;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

span.select2-selection.select2-selection--single {
    display: block;
    width: 100% !important;
    line-height: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

/* ============================================ Footer ============================================== */
.footer {
    background: #4C4C4C;
    color: #808080;
}